extends ../node_modules/jade-bootstrap/_bootstrap
extends layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.headerpad
		.container
			h1 Browse
				.ul
				each item in items
					.container
						.jumbotron
							.row
								.col-md-4.col-sm-4.col-xs-12.watchImagePad
									img.imageProfile.imageRounded(src='images/#{item.images[0]}', alt='ITEM DP', width='250', height='200')
								.col-md-6.col-sm-6.col-xs-12
									p #{item.name}
								.col-md-2.col-sm-2.col-xs-12
									.singleitemprice
									p $#{item.price}
							.row
								.col-md-1.col-sm-1.col-xs-12
									form.form-signin(role="button",action="/buy", method="get")
										button.btn.btn-large.btn-success(type="submit", name="id" value="#{item.id}") Purchase
								.col-md-1.col-sm-1.col-xs-12
									form.form-signin(role="button",action="/singleItem", method="get")
										button.btn.btn-large.btn-primary(type="submit", name="id" value="#{item.id}") View
								.col-md-1.col-sm-1.col-xs-12
									+a-btn-danger("/watchlist") Watch






.footer

