extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade



block body
    +navbar-fixed("Marketplace", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/advanced") Advanced Search
        form.navbar-form.navbar-left
            form.form-group(action="/search",method="get")
                +input-simple("text","mysearch", "Search","")
                button.btn("submit") Search
        ul.nav.navbar-nav.navbar-right
            +nav_item("/account") Account
            +nav_item("/watchlist") Watchlist
    block content
        .headerpad
        .container
            .row
                .col-md-10.col-sm-10.col-xs-12
                    h1 #{item.name}
                .col-md-2.col-sm-2.col-xs-12
                    .singleitemprice
                        p $#{item.price}
            .row
                .col-md-9.col-sm-9.col-xs-12
                .col-md-1.col-sm-1.col-xs-12
                    +a-btn-success("/singleItem") Purchase
                .col-md-1.col-sm-1.col-xs-12
                    +a-btn-primary("#") Watch
                    //a.btn-lg.btn-success Add to Watchlist
            .row
                .col-md-10.col-sm-10.col-xs-12
                    p
        .container
            .jumbotron
                #myCarousel.carousel.slide(data-ride='carousel')
                    // Indicators
                    ol.carousel-indicators
                        each val, index in item.images
                            //li= index + ': ' + val
                            if index == 0
                                li.active(data-target='#myCarousel', data-slide-to='0')
                            else
                                li(data-target='#myCarousel', data-slide-to=index)
                    // Wrapper for slides
                    .carousel-inner(role='listbox')
                        each val, index in item.images
                            if index == 0
                                .item.active.sin
                                    img.img-responsive.center-block(src=val, alt='Chania')
                            else
                                .item
                                    img.img-responsive.center-block(src=val, alt='Flower')
                    // Left and right controls
                    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                        span.sr-only Previous
                    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                        span.sr-only Next
        .container
            .jumbotron
                .search-tabs-wrapper
                    ul.nav.nav-tabs(role="tablist")
                        li.active
                            a(href="#home" role="tab" data-toggle="tab") Description
                        li
                            a(href="#profile" role="tab" data-toggle="tab") Details
                    .tab-content.search-tabs-content
                        .tab-pane.active.singleItemText(id="home") #{item.description}
                        .tab-pane.singleItemText(id="profile")
                            ul
                                each val in item.details
                                    li #{val}


    .footer



