extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')
	
block body
	+navbar-fixed("Marketplace", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/browse") Buy
		+nav_item("/upload") Sell
		form.navbar-form.navbar-left
			form.form-group(action="/search",method="get")
				+input-simple("text","mysearch", "Search","")
				button.btn("submit") Search
		form.navbar-form.navbar-right
			+a-btn-success("/login") Login
		ul.nav.navbar-nav.navbar-right
			+nav_item("/account","active") Account
			+nav_item("/watchlist") Watchlist
	block content
		.headerpad
		.container
			h1 User Account
			.jumbotron
				.row
					.col-md-4.col-sm-4.col-xs-12
						.imaget
							+img-responsive(account.profilePic, "Portrait")
					.col-md-8.col-sm-8.col-xs-12
						p Welcome! #{account.username}
				.row
					h2 Contact Details
				.row
					p Name: #{account.actualName}
				.row
					p Email: #{account.email}
				.row
					p Name: #{account.number}
				.row
					h2 Address
				.row
					p #{account.address}

	.footer